body{
  padding: 30px;
}
#nome{
  font-family:Helvetica, sans-serif;
  text-align: center;
}
#descricao{
  font-family: Fira Code;
  padding-top:50px;
}
#foto{
  width:170px;
  border-radius: 50%;
  float: left;
  padding: 10px;
  background-color: blueviolet;
}
body{
  background-color: #F1FAEE;  
}
#tag{
  font-weight: 1000;
}
.um{
  font-size: 20px;
}
.dois{
  font-size: 30px;
}
.tres{
  font-size: 40px;
}
.quatro{
  font-size: 45px;
}
div.foto{
  height: 180px;
}
/* Para adicionar estilo somente nos itens impares da lista */
ul li:nth-child(odd){
  background-color: blueviolet;
}