* {
  color: white;
  font-family: Fira Code , sans-serif;
}

h1 {
  margin-left: 348px;
  width: 8em;
}

h2 {
  margin-left: 148px;
}

.container {
  border: solid white 1px;
  border-radius: 25px;
  margin-bottom: 40px;
  margin-left: 270px;
  width: 400px;
}

.flex-container {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.flex-planets img {
  width: 100px;
}

.flex-planets p {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.segundo {
  margin-top: 40px;
}

.missions-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.mission-card {
  border: solid white 1px;
  border-radius: 25px;
  margin-bottom: 40px;
  padding: 10px;
  text-align: center;
  width: 250px;
}

.cardTitle {
  font-weight: 900;
}
