#box-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 400px;
}

#input-section {
  margin-bottom: 30px;
  width: 400px;
}

#text-input {
  margin-bottom: 10px;
}

#meme-image-container {
  border: solid 1px black;
  background-color: white;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
}

#meme-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

#meme-text {
  position: relative;
  z-index: 1;
  top: 30%;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
}

#submit-button {
  width: 400px;
  margin-top: 15px;
}

#submit-button p {
  font-weight: 600;
}

#fire {
  border: dashed 3px red;
  background-color: red;
  color: white;
}

#water {
  border: double 5px blue;
  background-color: blue;
  color: white;
}

#earth {
  border: groove 6px green;
  background-color: green;
  color: white;
}

#meme-collection {
  width: 400px;
  height: 100px;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

#meme-1 {
  width: 90px;
  height: 90px;
  border: solid 1px black;
  margin-right: 10px;
}

#meme-2 {
  width: 90px;
  height: 90px;
  border: solid 1px black;
  margin-right: 10px;
}

#meme-3 {
  width: 90px;
  height: 90px;
  border: solid 1px black;
  margin-right: 10px;
}

#meme-4 {
  width: 90px;
  height: 90px;
  border: solid 1px black;
  margin-right: 10px;
}
