#main-container {
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ball-section {
  width: 300px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ball {
  width: 40px;
  height: 40px;
  border: solid 1px black;
  border-radius: 100%;
}

#div-score {
  width: 100px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 600;
}

#score {
  margin-left: 10px;
}

#reset-game {
  margin-top: 10px;
  padding: 5px;
}

#answer {
  font-weight: 600;
}
