body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(253, 251, 251); /* Obrigatorio */
  font-family: Fira Code, Helvetica, sans-serif;
}

h2 {
  color: rgb(77, 26, 127);
}

nav {
  position: fixed; /* Obrigatorio */
  top: 0; /* Obrigatorio */
  left: 0;
  width: 100%;
  background-color: rgb(77, 26, 127);
  color: white;
  z-index: 9;
}

#titulo {
  display: inline-block;
  margin-left: 50px;
}

ul {
  display: inline-block;
}

.menu li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
  cursor: pointer;
}

.links li {
  display: inline-block;
  list-style: none;
}

.menu li:hover {
  zoom: 125%;
}

img {
  position: absolute;
  z-index: 1;
  border-radius: 10px;
}

#minha_foto {
  width: 250px;
  left: 20px;
  top: 74px;
}

#trybe {
  width: 350px;
  top: 5px;
  right: 50px;
}

#licoes_aprendidas {
  display: inline-block;
  margin-top: 55px;
  margin-left: 290px;
  margin-right: 50px;
}

footer {
  background-color: rgb(31, 29, 42);
  width: 100%;
  height: 40px;
  bottom: 0;
  left: 0;
  padding-bottom: 10px;
}

.links {
  margin-left: 550px;
}

a {
  text-decoration: none;
  color: white;
}

article , aside {
  text-align: justify;
}

table {
  text-align: center;
  margin: 0 20px 20px;
}

#tabela {
  margin-left: 20px;
}

.listas {
  margin-top: 5px;
  border: 2px solid rgb(77, 26, 127);
}

p {
  font-size: 17px;
  line-height: 25px;
}

.lado-esquerdo {
  float: left;
  padding: 0 40px 0 20px;
  flex: 1;
}

.lado-direito {
  margin-right: 0;
  padding: 0 20px 0 10px;
  width: 400px;
}

main {
  display: flex;
  flex-direction: row;
}
