#color-palette{
  width: 100%;
}
.color{
  width: 40px;
  height: 40px;
  margin-top: 5px;
  border: 1px solid black;
  float: left;
  margin-right: 14px;
  position: relative;
}
#pixel-board{
  position: absolute;
  margin-top:100px;
  max-width: 240px;
}
.pixel{
  border: 1px solid black;
  width: 40px;
  height: 40px;
  float:left;
  background-color: rgb(255, 255, 255)
}
#clear-board{
position: absolute;
left: 7px;
top: 140px;
border-radius: 0px;
background-color: tomato;
font-weight:bolder;
border: solid 1px black;
padding: 5px 10px;
}
#clear-board:hover{
background-color: brown;
color: white;
transition-duration: 0.3s;
}
#clear-board:active{
  background-color: white;
  transition-duration: 0,2s;
}
